// Variable overrides first
$primary: hsla(230, 71%, 54%, 0.59);
$enable-shadows: true;
$prefix: 'mo-';
$enable-grid-classes: false;
$enable-cssgrid: true;

// Then import Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

p{
    all:unset;
}

.selection-bar {
    background: var(--mo-gray-700);
    border-radius: 1.5rem;
    grid-template-columns: 1fr 1fr;
    isolation: isolate;
    z-index: 1;
}

.selection-value {
    padding: 1rem;
    cursor: pointer;
    border-radius: 1.5rem;
    transition: 200ms ease color;
    color:#fff;
}

.indicator {
    border-radius: 1.5rem;
    z-index: -1;
    left: 0;
    top: 0;
    transition: 200ms ease left;
}

.selection-value:nth-child(1)[sel="true"]~.indicator {
    left: 0;
}

.selection-value[sel="false"] {
    color: rgba(255, 255, 255, 0.3);
}

.selection-value:nth-child(2)[sel="true"]~.indicator {
    left: 50%;
}
.fa-pen-to-square, .fa-trash{
    color: rgb(25,28,36) !important;
    cursor:pointer;
}
.chevron-filter{
    cursor: pointer;
    color:#fff !important;
}

.dialog {
    width: 30rem;
    z-index: 100;
    border: 0;
}
.card__banner {
    font-size: 22px;
}

.dialog .changeTaskForm {
    grid-template-areas: "name inp1 inp1""desc inp2 inp2""catg inp3 inp3""price inp4 inp4""rating inp5 inp5"". btn .";
    grid-template-columns: 1fr 10rem 1fr;
}

.dialog::backdrop {
    background-color: hsla(0, 0%, 17%, 0.75);
}

.changeTaskForm> :is(input, textarea) {
    max-width: 80%;
}

.changeTaskForm>label[for="name"] {
    grid-area: name;
}

.changeTaskForm>#name {
    grid-area: inp1;
}

.changeTaskForm>label[for="description"] {
    grid-area: desc;
}

.changeTaskForm>#description {
    grid-area: inp2;
}

.changeTaskForm>label[for="category"] {
    grid-area: catg;
}

.changeTaskForm>#category {
    grid-area: inp3;
}

.changeTaskForm>label[for="price"] {
    grid-area: price;
}

.changeTaskForm>#price {
    grid-area: inp4;
}

.changeTaskForm>label[for="rating"] {
    grid-area: rating;
}

.changeTaskForm>#rating {
    grid-area: inp5;
}

#changeTaskFormSubmit {
    justify-self: center;
    grid-area: btn;
}